* {
  margin:0; 
  padding: 0;
}

img {
  width: 20px;
}

svg {
  width: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 20% 80%;
}

.logo-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

}

.icon-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 50px;
}

.icon-text p {
  margin-left: 10px;
  font-size: 20px;
  
}



.sidebar {
  background-color: #22d3ee;
  height: 100vh;
  color: white;
}

.main {
  background-color: white;
  height: 100vh;
}
svg {
  size : 10px ;
}